/* Fonte principal */
@font-face {
  font-family: 'soloist';
  src: url('../fonts/soloist1.ttf') format('truetype');
}

/* Oculta todas as seções do main por padrão */
main section {
  display: none;
}

/* Exibe seção ativa ou com display: block inline */
main section.ativo,
main section[style*="display: block"] {
  display: block;
}

/* O main cresce para ocupar o espaço restante na página e ajustar o footer*/
main {
  flex: 1;
}

/* Estilização global */
body {
  margin: 0;
  padding-top: 70px;
  background-color: #000;
  color: #C5C6C7;
  font-family: 'soloist', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Container centralizado com largura máxima */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px; 
  box-sizing: border-box;
}

/* Estilo do cabeçalho */
header {
  background-color: #0D1B2A;
}

/* Barra de navegação fixa no topo */
.navbar {
  background-color: #1f2833;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

/* Definição do tamanho vertical da logo */
.logo img {
  height: 80px;
}

/* Links do menu de navegação */
.nav-links {
  display: flex;
  gap: 20px;
}

/* Banner da página */
.banner {
  display: block;
  margin: 0 auto 60px auto; /* Espaço abaixo do banner */
  max-width: 100%;
  height: auto;
}

.nav-links a {
  color: #66fcf1;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}


/* --- Apresentação --- */
/* Seções do conteúdo principal */
section {
  padding: 100px 20px;
  max-width: 1200px;
  margin: 0 auto;
  /*min-height: 100vh;*/
}

h1, h2 {
  color: #66fcf1;
  text-align: center;
  font-family: 'soloist', sans-serif;
}

/* Seção de apresentação */
.apresentacao p {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

/* Lista de habilidades */
.habilidades ul {
  list-style: none;
  padding: 0;
}

.habilidades li {
  background: linear-gradient(90deg, #1f2833, #0D1B2A);
  border-left: 5px solid #3A9AD9;
  padding: 15px;
  margin: 12px 0;
  font-weight: bold;
  color: #C5C6C7;
  box-shadow: 0 0 10px rgba(58, 154, 217, 0.4);
  border-radius: 8px;
}

.habilidades i {
  margin-right: 8px;
}

.habilidades {
  max-width: 800px;
  margin: 0 auto;
}

.skill {
  margin-bottom: 20px;
}

.skill-title {
  font-weight: bold;
  margin-bottom: 8px;
  color: #45a29e;
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.skill-bar {
  background-color: #333;
  border-radius: 10px;
  height: 20px;
  overflow: hidden;
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.skill-fill {
  height: 100%;
  background: linear-gradient(90deg, #FFD700, #FF1744);
  border-radius: 10px 0 0 10px;
  transition: width 1s ease-in-out;
}

/* --- Cards --- */
.projetos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0;
  overflow: hidden;
  box-sizing: border-box;
}

#projetos > p {
  max-width: 900px;
  margin: 0 auto 40px;
  line-height: 1.6;
  text-align: center;
}

.card {
  perspective: 1000px;
  width: calc(25% - 15px);
  min-width: 240px;
  height: 280px;
  box-sizing: border-box;
  text-align: center;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.card:hover .card-inner {
  transform: rotateY(180deg); /* Faz o card girar */
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: #000000;
  border: 2px solid #FFD700;
  color: #FFD700;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  overflow: hidden;
}

.card-back {
  transform: rotateY(180deg);
  background-color: #1a1a1a;
}

/* Botão dos projetos */
.btn-projeto {
  display: inline-block;
  padding: 8px 16px;
  background-color: #45a29e;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s, transform 0.3s;
  text-align: center;
  margin-top: 10px;
  border: 2px solid #FFD700;
}

.btn-projeto:hover {
  background-color: #FFD700; /* Cor amarela para o hover */
  color: #0b0c10; /* Cor do texto ao passar o mouse */
  transform: scale(1.1); /* Efeito de aumento */
}

.btn-projeto:active {
  background-color: #FF1744; /* Cor vermelha para o clique */
}

/* --- Contato --- */
.contato {
  padding: 60px 20px;
}

#contato h2 {
  margin-bottom: 30px;
  padding-bottom: 5px;
  margin-top: 60px;
}

/* Imagem de contato (Estrela da Morte) */
.contato-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.contato-imagem img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #FFD700;
  object-fit: cover;
}

.contato-info {
  flex: 1;
  text-align: left;
  padding: 0 100px;
  margin-left: 20px;
}

.contato-info h2 {
  color: #FFD700;
  margin-bottom: 10px;
}

.btn-curriculo {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF1744; 
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s; /* Animação ao passar o mouse */
  text-align: center;
}

.btn-curriculo:hover {
  background-color: #FFD700; 
  transform: scale(1.1); /* Efeito de aumento */
}

.btn-curriculo:active {
  background-color: #45a29e; /* Cor quando clica */
}

/* Ícones das redes sociais */
.redes-sociais {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.redes-sociais a {
  color: #FF1744; 
  font-size: 24px;
  margin-bottom: 15px;
  display: inline-block;
  transition: color 0.3s ease;
}

.redes-sociais a:hover {
  color: #FFD700; 
}

/* Formulário de contato */
.formulario-contato {
  background-color: #000;
  border: 2px solid #FFD700;
  border-radius: 15px;
  padding: 30px;
  max-width: 700px;
  margin: 80px auto 0px auto;
  color: #FFD700;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.2);
}

.formulario-contato form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formulario-contato label {
  margin-bottom: 5px;
  font-weight: bold;
}

.formulario-contato input,
.formulario-contato textarea {
  margin-bottom: 15px;
  width: 97%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #FFD700;
  background-color: #1f2833;
  color: #fff;
}

.formulario-contato button {
  padding: 10px 20px;
  background-color: #FF1744;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.formulario-contato button:hover {
  background-color: #66fcf1;
}

/* Mensagem de confirmação */
.mensagem-texto {
  display: none;
  color: #0B0C10;
  background-color: #FFD700;
  padding: 15px 20px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 16px;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
  border: 2px solid #FFF176;
  text-align: center;
  animation: aparecer 0.5s ease;
}

.mensagem-texto i {
  margin-right: 10px;
  color: #0B0C10;
  font-size: 20px;
}

.mensagem-confirmacao {
  display: none;
  margin-top: 20px;
}

/* Animação suave ao exibir */
@keyframes aparecer {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* --- Rodapé --- */
footer {
  background-color: #0D1B2A;
  color: #C5C6C7;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}


